<head>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />

</head>

<nav class="navbar navbar-expand-xl" style="background-color: #5F021F;" >
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style = "background-color:white;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="believe">What we believe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="connect">Connect</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="certified">Certified Classes</a>
            </li>
          </ul>
        </div>
      </nav>