.nav-link{
    color: white;
    font-family: Comfortaa; font-size: 15px; font-style: normal;  line-height: 15.4px;
    letter-spacing: .2em;
}

.navbar {
    min-height: 80px;
  }
  

.nav-item{
    padding-right: 40px;

}

.navbar-brand{
    color: white;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }